*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:780px) {
    .container{
        width: 760px;
    }
}
@media (min-width:992px) {
    .container{
        width: 950px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1180px;
    }
}

@mixin center {
display: flex;
justify-content: center;
align-items: center;
}



